*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* navbar */
.navbar{
    width: 100%;
    height: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid silver;
    position: sticky;
    top: 0;
   
    /* background: linear-gradient(yellow,orange,yellow); */
    z-index: 1;
}

#nav-contents{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
   
    
}

#logo{
    width: 20%;
}


.nav-list{
    display: flex;
    width: 80%;
    height: 100%;
    gap: 4%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    list-style: none;
    font-weight: bolder;
}

#colorMode{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    height: 100%;
    width: 20%;
}

#check,.checked{
    display: none;
}

#change-color:hover{
    cursor: pointer;
    color: orangered;
}

.nav-list li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: all 1s;
}

@media screen and (max-width:750px) {
    .nav-list{
        display: flex;
        flex-direction: column;
        position: fixed;
        background: linear-gradient(teal,black);
        color: white;
        height: 100vh;
        width: 100%;
        top: 80px;
        left: 99%;
        transition: all 1s;
        

    }

    .checked{
        display: block;
    
    }

    
    
    #check:checked~ul{
        left: 60%;
    }
}



/* About Us */
.about{
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;

}

#about-content{
    width: 60%;
    height: 90%;
    justify-content: center;
    margin: auto;
    align-items: center; 
     text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10%;

}

#about-img{
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

#about-img img{
    border-radius: 50%;
    
    width: 400px;
    height:400px;
}

#about_name{
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (min-width:300px) and (max-width:1000px) {
    .about{
        display: flex;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
    }

    #about-content{
        width: 100%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }

    #about-content p{
        margin: auto;
    }

   
    #about-img{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
       
    }

    #about-img img{
        width: 300px;
        height: 300px;
        
    }
}

@media screen and (max-width:300px) {

    .about{
        display: flex;
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
    }

    #about-content{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;

        margin-bottom: 40px;
    }
    
    #about-img{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
       
    }
    #about-img img{
        width: 100%;
        height: 200px;
        /* height: 80%; */
    }
}


/* Projects */
.proj-sec{
    margin: 50px;
}

#proj-heading{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
    padding: 20px;
    background:linear-gradient(yellow,orange);
 
}





/* Media Query of projects */
@media screen and (max-width:800px) {
    #proj-heading{
        width: 100%;
        height: auto;
        font-size: medium;
        margin: auto;
        margin-bottom: 20px;
    }
}


/* Education and Skills */
#edu-heading{
    text-align: center;
    font-size: 30px;
    text-decoration: dashed;
    text-decoration-color: blue;
    margin: 30px;
    padding: 20px;
    background:radial-gradient(orange ,yellow);
}
.edu-sec{
    width: 100%;
    height: 110vh;
    display: flex;
    flex-wrap: wrap;
    
}



#education{
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    border: 1px solid yellowgreen;
    gap: 5%;
    height: 100vh;
    width: 50%;
}

#skills{
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100vh;
    width: 50%;
    flex-wrap: wrap;
    background-color: yellowgreen;
    
}

.skills-content{
    display: flex;
    
    margin: 30px;
    gap: 3%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:auto;
    width: 30%;

}

.edu{
    border-bottom: 2px dashed silver;
    padding: 31px;
}

@media screen and (max-width:1000px) {
    #edu-heading{
       
            width: 100%;
            height: auto;
            font-size: medium;
            margin: auto;
            margin-bottom: 20px;
        
    }

    .edu-sec{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
       
    }

    #education{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 50px;
        margin: auto;
        width: 100%;
        height: auto;
      
    }

    #skills{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        width: 100%;
        
    }

    
}

@media screen and (max-width:300px) {

    #education{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 50px;
        margin: auto;
        width: 100%;
        height: auto;
      
    }
    #skills{
        display: flex;
        flex-direction: column;

        flex-wrap: wrap;
        width: 100%;
        height: auto;
    }

    .edu{
        font-weight: lighter;
        font-size: smaller;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3%;
    }
}

